@charset "utf-8";
*{
	margin: 0 auto; padding: 0;
}
li{
	list-style: none;
}
.swiper-wrapper{
	width: 600px;
	height: 350px;
	margin-top: 50px;
	padding: 10px;
	box-shadow: 0px 0px 10px 5px skyblue;
}
.swiper-wrapper ul{
	position: relative;
	width: 600px;
	height: 300px;
	box-shadow: 0px 0px 10px 2px pink;
	perspective: 500px;
}
.swiper-wrapper ul li{
	position: absolute;
	height: 300px;
	transform-style: preserve-3d;
	-webkit-transform-style: -webkit-preserve-3d;
	transform-origin:0px 50% 0px;
	-webkit-transform-origin:0px 50% 0px;
	transform: rotateX(0deg);
	-webkit-transform: -webkit-rotateX(0deg);
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
}
.swiper-wrapper ul li div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.dots, .controlBox{
	height: 46px;
	box-shadow: 0px 0px 10px 2px pink;
	text-align: center;
}
.dots span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 10px;
	background-color: pink;
	border-radius: 10px;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.dots span.selected{
	background-color: red;
}
.controlBox{
	width: 600px;
	height: 100px;
	margin: 20px auto;
	line-height: 45px;
}
.box{
	height: 300px;
	overflow: hidden;
}